<!DOCTYPE html>
<head>
<!--CSSlink,BOOTSTRAPlink-->
    
<!--Bootstrap,jQuery Javascript-->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="bootstrap.min.js"></script> 
</head>

<body>
<div class="col-lg-12" id="overallcontainer">

<!-- Footer -->
  
<div class="row">
  <footer>
    <div class="footer"><p>Copyright Momentora 2013  <a href="#">  Back to Top</a></p></div>
  </footer>
</div>
  
  <!-- /Footer  -->
  
  
</div>
</body>