<div class="col-lg-12" id="overallcontainer">

<!-- Footer -->
  
<div class="row">
  <footer>
    <div class="footer"><p>Copyright Momentora 2013  <a href="#">  Back to Top</a></p></div>
  </footer>
</div>
  
<!-- /Footer  -->
  
  
</div>
</html>