<head>
  
  <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="mainpage.css"/>
  
  <script src="jquery-1.10.2.js"></script>
  <script src="bootstrap.min.js"></script>

</head>
<body>
  <div class="col-lg-12" id="overallcontainer">
    
  <!--Header-->
  
  <!--/Header-->
    
  </div>
</body>

<!--
I Commented out the glyphicon until the .wof .tff and all those files for glyphicons are in. 
I dont think it will work for ruby image tag 

          <a href="#">
            <span class="glyphicon glyphicon-lock center-block" id="glyphlock"><%= image_tag("twitter.png", :id => "image") %></span>
          </a> -->