
<!--
I Commented out the glyphicon until the .wof .tff and all those files for glyphicons are in. 
I dont think it will work for ruby image tag 

          <a href="#">
            <span class="glyphicon glyphicon-lock center-block" id="glyphlock"><%= image_tag("twitter.png", :id => "image") %></span>
          </a> -->